@font-face {
  font-family: "MyriadPro-bold";
  src: url("../../dist/fonts/MyriadPro-Bold.ttf");
}

@font-face {
  font-family: "MyriadPro-semibold";
  src: url("../../dist/fonts/MyriadPro-Semibold.ttf");
}

@font-face {
  font-family: "MyriadPro-regular";
  src: url("../../dist/fonts/MyriadPro-Regular.ttf");
}


